* {

	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 150%;
	padding: 0;
	margin: 0;

}
.b{
	background-image: linear-gradient(to right top, #fbfbfb, #7e92f3, #b0b2f5, #d8d6f8,  #2274f0);
}

.logo {
	padding-top: 10px;
	margin-left: 10px;
	width: 7%;
}

main {
	display: flex;
	margin-left: 80px;
	
}

.text-area {
	border: none;
	color: #0A3871;
	margin-top: 60px;
	text-transform: lowercase;
	background: none;
}

::placeholder {
	color: #0A3871;
}

.text-area:focus {
	outline: none;
}

.mensaje {
	background: white;
	background-image: url('img/Muñeco.png');
	background-repeat: no-repeat;
	border: none;
	border-radius: 24px;
	color: #0A3871;
	margin-left: 98px;
	padding-left: 20px;
	position: fixed;
}

.mensaje:focus {
	outline: none;
}

.botones {
	display: flex;
	margin-top: 18px;
}

.btn-encriptar {
	background-color: #0A3871;
	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	height: 67px;
	width: 328px;
	color: white;
}

.btn-desencriptar {
	background-color: #E8E8E8;
	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	height: 67px;
	width: 328px;
	color: #0A3871;
	margin-left: 30px;
}

.btn-copiar {

	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	height: 67px;
	width: 336px;
	position: absolute;
	color: #0A3871;
	margin-left: 108px;
	margin-top: 336px;
}

.informacion {
	color: #0051ff;
	font-size: 18px;
}
.pie-pagina{
	text-align: center;
	color: #0A3871;
	padding: 20px;
}